{% extends "base.html" %}
{% block title %}El Django | A Python Starter App{% endblock %}
{% block head %}
<meta name="keywords" content="Python, Django, Github, Project, Starter, Application, App, Heroku, Compass, Sass, Less, Bootstrap, Mandrill, django-userena, djrill">
<meta name="description" content="Python/Django Starter App. Get your project up and running. Quickly.">
<meta property="og:image" content="http://www.eldjango.com/static/engagement-picnic.jpg"/>
<meta property="og:title" content="El Django | A Python Starter App"/>
<meta property="og:url" content="http://www.eldjango.com" />
<meta property="og:description" content="Python/Django Starter App. Get your project up and running. Quickly."/>
<meta property="og:type" content="website" />
{% endblock %}

{% block body_class %}body-home-page{% endblock %}

{% block content %}
<div class="homepage-hero img-rounded">
  <h1>Python / Django Starter App.</h1>
  <h4>Get your project up and running. Quickly.</h4>
  <p><a class="btn btn-primary btn-large" href="https://github.com/waltonryan/python-django-starter-app" target="_blank">Take Me There Now</a></p>
  <p>Supports <a href="http://compass-style.org/">Compass</a>, <a href="http://sass-lang.com/">Sass</a> and <a href="http://lesscss.org/">Less</a>. Uses <a href="http://twitter.github.io/bootstrap/index.html">Bootstrap</a>, <a href="http://mandrill.com/">Mandrill</a>, <a href="http://www.django-userena.org/">django-userena</a> and <a href="https://github.com/brack3t/Djrill">djrill</a>.</br>Designed for use with <a href="https://devcenter.heroku.com/articles/django">Heroku</a>.</p>
</div>
{% endblock %}